table tr th{
  background:#337ab7;
  color:white;
  text-align:left;
  vertical-align:center;
}
<<<<<<< HEAD
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 10px;
}
.body{
  font-size: 0.8rem;
}
=======
 
 

 
 
>>>>>>> 9db43bfe43f3d15f334ea678bd241c4a000b3284
