<<<<<<< HEAD
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/css/bootstrap-select.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.8.1/js/bootstrap-select.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>



<app-header></app-header>
<div class="container-fluid">
=======
 
<div class="  container-fluid">
>>>>>>> 9db43bfe43f3d15f334ea678bd241c4a000b3284
  <div class="panel">
      <div class="row">
          <div class="col-sm-4">
            <button
              type="button"
              id="addButton"
              class="btn btn-primary"
              (click)="openModal()"
            >Add</button>
          </div>
      </div>
  <div class="row">
    <div class="col-sm-4">
        <select name="cars" multiple>
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="opel">Opel</option>
            <option value="audi">Audi</option>
          </select>
    </div>
    <div class="col-sm-4">
      <label>dffffffgfdf</label>
      <select class="selectpicker" multiple data-live-search="true">
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
      </select>
    </div>
    <div class="col-sm-4">
      <button
        type="button"
        id="addButton"
        class="btn btn-primary"
        (click)="getStudentDetails()"
      >Submit</button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered bordered table-striped table-condensed">
      <thead>
        <tr>
          <th>Id</th>
          <th>Admission No</th>
          <th>Name</th>
          <th>Father Name</th>
          <th>Mother Name</th>
          <th>Gender</th>
          <th>Dob</th>
        </tr>
      </thead>

      <tbody  *ngFor="let student of students">
        <tr>
          <td>{{student.studentId}} </td>
          <td>{{student.admisionNo}}  </td>
          <td>{{student.studentName}}  </td>
          <td>{{student.fathername}}  </td>
          <td>{{student.motherName}}  </td>
          <td>{{student.gender}}  </td>
          <td>{{student.dob | date: 'dd-MM-yyyy'}}  </td>
        </tr>
 
      </tbody>
    </table>
  </div>
</div>
</div>

<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control validate">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
        </div>
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" id="orangeForm-email" class="form-control validate">
          <label data-error="wrong" data-success="right" for="orangeForm-email">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control validate">
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-deep-orange">Sign up</button>
      </div>
    </div>
  </div>
</div>

 