// /* The side navigation menu */
// .sidenav {
//     height: 100%; /* 100% Full-height */
//     width: 0; /* 0 width - change this with JavaScript */
//     position: fixed; /* Stay in place */
//     z-index: 1; /* Stay on top */
//     top: 0; /* Stay at the top */
//     left: 0;
//     background-color: #111; /* Black*/
//     overflow-x: hidden; /* Disable horizontal scroll */
//     padding-top: 60px; /* Place content 60px from the top */
//     transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
// }

// /* The navigation menu links */
// .sidenav a {
//     padding: 8px 8px 8px 32px;
    
//     font-size: 25px;
//     color: #818181;
    
//     transition: 0.3s;
// }

// /* When you mouse over the navigation links, change their color */
// .sidenav a:hover {
//     color: #f1f1f1;
// }

// /* Position and style the close button (top right corner) */
// .sidenav .closebtn {
//     position: absolute;
//     top: 0;
//     right: 25px;
//     font-size: 36px;
//     margin-left: 50px;
// }

// /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
// #main {
//     transition: margin-left .5s;
//     padding: 20px;
// }

// /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
// @media screen and (max-height: 450px) {
//     .sidenav {padding-top: 15px;}
//     .sidenav a {font-size: 18px;}
// }

body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }