<app-header></app-header>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  
<form>
  <div class="form-row" >
      
    <div class="form-group col-md-5">
      <label for="inputEmail4">Stdent</label>
       <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-5">
      <label for="inputPassword4">Class</label>
       <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
  </div>
   
  <div class="form-row">
    <div class="form-group col-md-5">
      <label for="inputCity">Id card Size</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
	 <div class="form-group col-md-5">
      <label for="inputState">Height</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-5">
      <label for="inputState">Format</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-5">
            <button type="submit" class="btn btn-primary pull-right">Generate</button>
    </div>
  </div>
  
 
</form>
 

 