.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }
