
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
 
</head>
<body>

<h2>Student Registration </h2>

<div class="row">
  <div class="col-75">
    <div class="container">
      <form #student ="ngForm" (ngSubmit)="onsave(student.value)">
      
        <div class="row">
          <div class="col-50">
           
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="studentName" [(ngModel)]="studentName" placeholder="John M. Doe">
            <label for="name"><i class="fa fa-user"></i> Father Name</label>
            <input type="text" id="fathername"  name="fathername" [(ngModel)]="fathername"  >
            <label for="name"><i class="fa fa-user"></i> Mother Name</label>
            <input type="text" id="mothername"  name="motherName" [(ngModel)]="motherName"  >
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="542 W. 15th Street">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="New York">
            <label for="city"><i class="fa fa-institution"></i> Adhar No </label>
            <input type="text" id="adhar" name="adhar" placeholder="New York">
            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="NY">
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" name="zip" placeholder="10001">
              </div>
            </div>
          </div>

          <div class="col-50">
         
          
            <div class="row">
              <div class="col-50">
                <label for="state">Class</label>
                <select ng-model="class">
                  <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
                  </select>
              </div>
              <div class="col-50">
                <label for="section">Section</label>
                <select ng-model="section">
                  <option ng-repeat="x in cars" value="{{x.model}}">{{x.model}}</option>
                  </select>
              </div>
            </div>


            <label for="ccnum">Phone number</label>
            <input type="text" id="phoneNo" name="phoneNo" placeholder="7842413120">
            <label for="ccnum">Alternate number</label>
            <input type="text" id="phoneNo" name="alternateNo" placeholder="7842413120">
            <label for="ccnum">EmailId</label>
            <input type="email" id="emailid" name="emailId" placeholder="govind@gmail.com">
            <label for="expmonth">Date of Birth</label>
            <input type="date" id="dob" name="dob" [(ngModel)]="dob"  >
            <label for="expmonth">Fee effective from</label>
            <input type="date" id="feeEft" name="feeEft" [(ngModel)]="feeEffectFrom"  >
            
          </div>
          
        </div>
        <div class="row">
        <div class="col-50">
        <input type="submit" value="Submit Details" class="btn">
        </div>
        <div class="col-50">
          <input type="submit"    (click)="onNoClick()"  value="Cancel" class="btncancel">
          </div>
      </div>
      </form>
    </div>
  </div>
   
</div>

</body>
</html>
